git/.gitconfig

apps/.config/obsidian/*
!apps/.config/obsidian/Preferences
!apps/.config/obsidian/Custom\ Dictionary.txt
!apps/.config/obsidian/"Custom Dictionary.txt"

apps/.vscode-oss/*
!apps/.vscode-oss/settings.json
!apps/.vscode-oss/tasks.json
!apps/.vscode-oss/launch.json
!apps/.vscode-oss/extensions.json
!apps/.vscode-oss/*.code-snippets

